body{ 
  background: #CFD8DC; 
 } 
 .App { 
  display: grid; 
    grid-gap: 5px; 
    grid-template-columns: repeat(4, minmax(10px, 100px));
    grid-template-rows: repeat(5, 1fr); 
    justify-content: center; 
    align-content: center; 
    margin: 0 auto; 
    height: 100vh; 
    font-family: 'Open Sans', sans-serif;
 } 
 button {
  background-color: #607D8B;
  color: #FFFFFF;
  width: 100%;
}
 #display {
  grid-column: 1 / 6;
 }
 #numbers {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
 }
#operators {
  grid-column: 4 / 6;
}
.ope,.num  {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));  
  }
#clearKey, #equalsKey{
  grid-column: 4 / 6;
}
