body{ 
  background: #CFD8DC; 
  font-family: 'Roboto Slab', serif;
  text-align: center;
  height: 100vh;
 } 

#calc { 
  display: grid; 
    grid-gap: 5px; 
    grid-template-columns: repeat(4, minmax(auto, 45px));
    grid-auto-rows: repeat(5, auto); 
    justify-content: center; 
    align-content: center; 
    margin: 0 auto; 
    height: 75vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
  } 
 .button {
  background-color: #607D8B;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #ffeead;
  border-radius: 50%;
}
.button:hover {
  color: #58737E;
  border-color: currentColor;
  background-color: white;
}
 #display {
  grid-column: 1 / 6;
  background-color: #9E9E9E;
  text-align: right;
  color: #F5F5F5;
}
 #numbers {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
 }
#operators {
  grid-column: 4 / 6;
}
.ope,.num  {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr)); 
  grid-gap: 5px;  
  }
#clearKey, #equalsKey{
  grid-column: 4 / 6;
}

